.myclass{
    background-color: rgb(153, 152, 151);
}


.myclass ol li {
    color: rgb(57, 221, 213);
}

.myclass ul li {
    color: rgb(16, 211, 26);
}


.media_card{
    text-align: center;
}
.title_card{
    
    color: crimson;
}
.body_text{
    color: cornflowerblue;
}

.room{
    height: 100vh;
}
.dark{
    
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}